body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: url(../img/bg.jpg);
}
#container{
	width: 1024px;
	height: 768px;
	margin: 0px auto;
	text-align: left;
	background: #121212;
	position: relative;
}
#logo{
	width: 185px;
	height: 163px;

	position:absolute;
	z-index: 2;
}
#nav{
	width: 185px;
	height: 605px;
	position: relative;
	top: 163px;

}
#nav ul {
	position: absolute;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	top: 76px;
	left: 28px;
}
#nav ul li{
	line-height: 40px;
}
#nav ul li img{
	border: 0px;
}
#mildde{
	background: url(../img/folding-bg.png);
	width: 550px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 170px;
	z-index: 3;
}
#mildde .bt{
	width: 415px;
	height: 45px;
	position: absolute;
	top: 25px;
	left: 64px;
}
#mildde .tutorial1{
	position: absolute;
	top: 109px;
	left: 20px;
	width: 243px;
	height: 193px;
}
#mildde .tutorial1 .content{
	width:243px;
	height:193px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-left:3px;
	}
#mildde .tutorial1 .content .txt{
	width:243px;
	height:65px;
	background:rgba(18,21,44,0.7); 
	position:absolute;
	left:0px;
	bottom:0px;
	padding:0 12px;
	border-top:2px solid #CB5412;
	text-align: center;
}
#mildde .tutorial1 .content .txt h3{
	color:#CB5412;
	font-size:24px;
	font-weight:100;
	margin:10px 0 6px 0;
}
#mildde .tutorial1 .content .txt h4{
	margin: 0px;
	padding: 0px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#mildde .tutorial1 .content .txt p{
	color:#fff;
	margin-top:20px;
	padding-top:12px;
	border-top:1px solid #CB5412;
}
#mildde .tutorial1 .content .txt p a{
	color:#fff;
}
#mildde .tutorial2{
	position: absolute;
	top: 109px;
	left: 295px;
	width: 243px;
	height: 193px;
}
#mildde .tutorial2 .content{
	width:243px;
	height:193px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-left:3px;
	}
#mildde .tutorial2 .content .txt{
	width:243px;
	height:65px;
	background:rgba(18,21,44,0.7); 
	position:absolute;
	left:0px;
	bottom:0px;
	padding:0 12px;
	border-top:2px solid #CB5412;
	text-align: center;
}
#mildde .tutorial2 .content .txt h3{
	color:#CB5412;
	font-size:24px;
	font-weight:100;
	margin:10px 0 6px 0;
}
#mildde .tutorial2 .content .txt h4{
	margin: 0px;
	padding: 0px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#mildde .tutorial2 .content .txt p{
	color:#fff;
	margin-top:20px;
	padding-top:12px;
	border-top:1px solid #CB5412;
}
#mildde .tutorial2 .content .txt p a{
	color:#fff;
}
#mildde .tutorial3{
	position: absolute;
	top: 337px;
	left: 20px;
	width: 243px;
	height: 193px;
}
#mildde .tutorial3 .content{
	width:243px;
	height:193px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-left:3px;
	}
#mildde .tutorial3 .content .txt{
	width:243px;
	height:65px;
	background:rgba(18,21,44,0.7); 
	position:absolute;
	left:0px;
	bottom:0px;
	padding:0 12px;
	border-top:2px solid #CB5412;
	text-align: center;
}
#mildde .tutorial3 .content .txt h3{
	color:#CB5412;
	font-size:24px;
	font-weight:100;
	margin:10px 0 6px 0;
}
#mildde .tutorial3 .content .txt h4{
	margin: 0px;
	padding: 0px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#mildde .tutorial3 .content .txt p{
	color:#fff;
	margin-top:20px;
	padding-top:12px;
	border-top:1px solid #CB5412;
}
#mildde .tutorial3 .content .txt p a{
	color:#fff;
}
#mildde .tutorial4{
	position: absolute;
	top: 337px;
	left: 295px;
	width: 243px;
	height: 193px;
}
#mildde .tutorial4 .content{
	width:243px;
	height:193px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-left:3px;
	}
#mildde .tutorial4 .content .txt{
	width:243px;
	height:65px;
	background:rgba(18,21,44,0.7); 
	position:absolute;
	left:0px;
	bottom:0px;
	padding:0 12px;
	border-top:2px solid #CB5412;
	text-align: center;
}
#mildde .tutorial4 .content .txt h3{
	color:#CB5412;
	font-size:24px;
	font-weight:100;
	margin:10px 0 6px 0;
}
#mildde .tutorial4 .content .txt h4{
	margin: 0px;
	padding: 0px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#mildde .tutorial4 .content .txt p{
	color:#fff;
	margin-top:20px;
	padding-top:12px;
	border-top:1px solid #CB5412;
}
#mildde .tutorial4 .content .txt p a{
	color:#fff;
}
#mildde .tutorial5{
	position: absolute;
	top: 560px;
	left: 20px;
	width: 243px;
	height: 193px;
}
#mildde .tutorial5 .content{
	width:243px;
	height:193px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-left:3px;
	}
#mildde .tutorial5 .content .txt{
	width:243px;
	height:65px;
	background:rgba(18,21,44,0.7); 
	position:absolute;
	left:0px;
	bottom:0px;
	padding:0 12px;
	border-top:2px solid #CB5412;
	text-align: center;
}
#mildde .tutorial5 .content .txt h3{
	color:#CB5412;
	font-size:24px;
	font-weight:100;
	margin:10px 0 6px 0;
}
#mildde .tutorial5 .content .txt h4{
	margin: 0px;
	padding: 0px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#mildde .tutorial5 .content .txt p{
	color:#fff;
	margin-top:20px;
	padding-top:12px;
	border-top:1px solid #CB5412;
}
#mildde .tutorial5 .content .txt p a{
	color:#fff;
}
#mildde .tutorial6{
	position: absolute;
	top: 560px;
	left: 295px;
	width: 243px;
	height: 193px;
}
#mildde .tutorial6 .content{
	width:243px;
	height:193px;
	float:left;
	position:relative;
	overflow:hidden;
	margin-left:3px;
	}
#mildde .tutorial6 .content .txt{
	width:243px;
	height:65px;
	background:rgba(18,21,44,0.7); 
	position:absolute;
	left:0px;
	bottom:0px;
	padding:0 12px;
	border-top:2px solid #CB5412;
	text-align: center;
}
#mildde .tutorial6 .content .txt h3{
	color:#CB5412;
	font-size:24px;
	font-weight:100;
	margin:10px 0 6px 0;
}
#mildde .tutorial6 .content .txt h4{
	margin: 0px;
	padding: 0px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#mildde .tutorial6 .content .txt p{
	color:#fff;
	margin-top:20px;
	padding-top:12px;
	border-top:1px solid #CB5412;
}
#mildde .tutorial6 .content .txt p a{
	color:#fff;
}
#btn{
	position: absolute;
	top: 30px;
	left:702px;
	z-index: 2;

	width: 48px;
	height: 38px;
}
#header{
	position: absolute;
	height: 467px;
	top: 0px;
	left: 186px;
	z-index: 1;
}

img, a {
	border:0px;
}
.span230 {
	width:280px;
	position: absolute;
	top: 451px;
	left: 733px;
	z-index: 1;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style:none;
}
.btntop, .btnbottom {
	height:12px;
	overflow:hidden;
	cursor:pointer;
}
.btntop {
	background-position:60px 0px;
}
.btnbottom {
	background-position:60px -12px;
}
#scrollbox {
	height:292px;
	overflow:hidden;
}
.scrollcon {
	height:800%;
}
.scrollpic li {
	height:91px;
	overflow:hidden;
	margin:2px 0px;
}
.scrollpic li img {
	float:left;
	display:inline;
	margin:0px 10px 0px 0px;
}
.scrollpic li a {
	display:block;
	height:91px;
	background:#99addf;
	font-size:12px;
	color:#fff;
	line-height:20px;
	text-decoration:none;
}
.scrollpic li a:hover {
	background:#3d4558;
	color:#ff6600;
}
.counter{
	position: absolute;
	top: 30px;
	left: 30px;
	font-family: 黑体;
	font-size: 20px;
	color: #fff;
}

.statisical a{
	color: #fff;
}
